.livestream-app-bar {
  background-color: var(--appbar-background);
  color: var(--appbar-text-color);

  .display-name {
    color: var(--appbar-text-color);
    margin-right: 1em;
    text-transform: none;
    font-weight: 500;
    font-family: quicksand;
  }

  .logo {
    width: 40px;
    margin-right: 4px;
  }

  .title {
    color: var(--appbar-text-color);
    font-weight: 700;
  }
}
