@font-face {
  font-family: "quicksand";
  src: url("../fonts/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "quicksand";
  font-weight: 500;
  src: url("../fonts/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "quicksand";
  font-weight: 600;
  src: url("../fonts/Quicksand-SemiBold.ttf");
}
@font-face {
  font-family: "quicksand";
  font-weight: 700;
  src: url("../fonts/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "quicksand";
  font-weight: 300;
  src: url("../fonts/Quicksand-Light.ttf");
}
