.light {
  --primary-color: #14ada6;
  --default-text-color: #000000;
  --appbar-text-color: #000000;
  --appbar-background: #ffffff;
  --monochrome-0: #000000;
  --monochrome-1: #333333;
  --monochrome-2: #787878;
  --monochrome-3: #a0a0a0;
  --monochrome-4: #bdbdbd;
  --monochrome-5: #e5e5e5;
  --monochrome-6: #ffffff;
  --card-bg-color: #ffffff;
}
